<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ws"/>

    <jaxws:client id="transferZBaseCaseService" serviceClass="ciecc.swzf.zbasecase.service.impl.AdditionalRecodingCaseService"
                  address="http://192.168.1.116:8080/ws/additionalRecodingCase?wsdl">
        <jaxws:outInterceptors>
            <ref bean="wss4jOutInterceptor"/>
        </jaxws:outInterceptors>
    </jaxws:client>

    <!--客户端发送请求拦截器-->
    <bean id="wss4jOutInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
        <constructor-arg>
            <map>
                <!--签名（使用自己的私钥）-->
                <entry key="action" value="Signature Encrypt"/>
                <entry key="user" value="ciecc"/>
                <entry key="passwordCallbackClass" value="ws.ClientPasswordCallback"/>
                <entry key="signaturePropFile" value="client.properties"/>
                <entry key="encryptionPropFile" value="client.properties"/>
            </map>
        </constructor-arg>
    </bean>

    <!--客户端接收请求拦截器-->
    <!--<bean id="wss4jInInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">-->
        <!--<constructor-arg>-->
            <!--<map>-->
                <!--&lt;!&ndash;验签（使用对方的公钥）&ndash;&gt;-->
                <!--<entry key="action" value="Signature Encrypt"/>-->
                <!--<entry key="passwordCallbackRef" value-ref="recipientPasswordCallback"/>-->
                <!--<entry key="signatureVerificationPropFile" value="server.properties"/>-->
                <!--<entry key="decryptionPropFile" value="server.properties"/>-->
            <!--</map>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

</beans>